body {
    font-family: 'Almarai', sans-serif;
    width: initial;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

#form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(145, 130, 50);
    cursor: pointer;
    font-weight: 600;
    color: #FFF;
}

H1 {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}