<<<<<<< HEAD
body{
    font-family: 'verdana' ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    

}

form{
    /*background-image: url("./imagenes/img2.jpg");
    filter: brightness(90%);*/
    margin: 50px;
    padding: 10x 0;
    /*box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;*/
}

.text-center{
    
    margin: 50px;
}

=======
body {
    font-family: 'Almarai', sans-serif;
    width: initial;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

#form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(145, 130, 50);
    cursor: pointer;
    font-weight: 600;
    color: #FFF;
}

H1 {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
>>>>>>> 62a8d8c945ea07ee2ba269159d4f5a233c8095de
